<% provide(:title, t("Contact")) %>
<h1><%= t "Contact"%></h1>
<p>
  <%= t "static_pages.contact.address" %>
  <a href="http://www.railstutorial.org/contact"><%= t "static_pages.contact.page"%></a>.
</p>
