<% provide(:title, t("static_pages.menu_contact")) %>
<h1><%= t "static_pages.contact" %></h1>
<p>
  <%= t "static_pages.contact_page.address" %>
  <a href="http://www.railstutorial.org/contact"><%= t "static_pages.contact_page.page" %></a>.
</p>
