<% provide(:title, "Home") %>
<h1>Welcome, Linh Nguyen</h1>
<h1>Sample App</h1>
<p><%= t "static_pages.home.content" %>
  <a href="http://www.railstutorial.org/"><%= t "static_pages.home.title" %></a>
  sample application.
</p>
