<h1><%= t "sample_app" %></h1>
<p><%= t "static_pages.home.content" %>
  <a href="http://www.railstutorial.org/"><%= t "static_pages.home.title" %></a>
  <%= t "static_pages.home.sample_application"%>
</p>
